/*상단바*/
body{
    margin: 0;
    font-family: 'Source Sans Pro';
  }
  
  a{ 
    text-decoration: none;
    color: white;
  }
  
  /* navbar */
  .navbar{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    background-color: #263343; 
    padding: 8px 12px;
  }
  
  .navbar_logo{ 
    font-size: 24px; 
    color: white;
    float:left;
  }
  
  .navbar_logo i{ 
    color: turquoise;
    float:left;
  }
  .navbar_logo a{ 
    color: white;
    float:left;
  }
  .navbar_menu{ 
    display: flex;
    list-style: none;
    padding-left: 0; 
  }
  
  .navbar_menu li{
    padding: 8px 12px; 
  }
    
  .navbar_menu a{
    color:white;
  }

  .navbar_menu li:hover{
    background-color: turquoise; 
    border-radius: 4px; 
  }
  
  .navbar_icons{
    display: flex;
    list-style: none; 
    color: white;
    padding-left: 0;
  }
  
  .navbar_icons li{ 
    padding: 8px 12px; 
  }
  
  .navbar_toogleBtn{ 
    display: none; 
    position: absolute; 
    right: 32px;
    font-size: 24px; 
    color: turquoise; 
  }
  
  @media screen and (max-width: 768px){ 
    .navbar{ 
        flex-direction: column;
        align-items: flex-start;
    }
  
    .navbar_menu{ 
        display: none; 
        flex-direction: column;
        align-items: center;
        width: 100%
    }
  
    .navbar_menu li{ 
        width: 100%; 
        text-align: center;
    }
  
    .navbar_icons{ 
        display: none; 
        /* row content >> justify-content  */
        justify-content: center; 
        width: 100%
    }
  
    .navbar_toogleBtn{ 
        display: block; 
    }
  
    .navbar_menu.active, 
    .navbar_icons.active{ 
        display: flex; 
    }
  }

  /*검색창*/ 
fieldset {
  position: relative;
  display: inline-block;
  padding: 0 0 0 50px;
  background: #fff;
  border: solid 2px;
  border-radius: 5px;
  margin-left: -250px;
  float:left;
}

.search-input,
button.search-input {
  position: relative;
  width: 300px;
  height: 50px;
  padding: 0;
  display: inline-block;
  float:left;
}

.search-input {
  color: #666;
  z-index: 2;
  border: 0 none;
}
.search-input:focus {
  outline: 0 none;
}
.search-input:focus + button {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.search-input:focus + button .fa {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #fff;
}

.search-button {
  z-index: 1;
  width: 50px;
  border: 0 none;
  background: #ceb980;
  cursor: pointer;
  border-radius: 0 5px 5px 0;  
  -webkit-transform: translate(-50px, 0);
      -ms-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.fa-search {
  font-size: 1.4rem;
  color: #29abe2;
  z-index: 3;
  top: 25%;
  -webkit-transform: translate(-300px, 0);
      -ms-transform: translate(-300px, 0);
          transform: translate(-300px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}