/*양 옆 여백*/
.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 30px 0 30px 0;
  }  

  /*place*/
  .title{
    font-size: 60px;
    float:left;
  }

  .place-picture{
    float:left;
  }

  /*명소*/
  .title2{
    font-size: 45px;
    text-align: center;
  }
  .good-place{
    width: 450px;
    padding-top: 50px;
    padding-bottom: 100px;
    height: auto;
    float:left;
    /* background-color: cadetblue; */
  }
  /*장소*/
  .food-place{
    width: 450px;
    padding-top: 50px;
    padding-bottom: 100px;
    float:left;
    /* background-color: cyan; */
  }

  /*테두리(sns.css)*/
  .square_jy {
    margin-left: 5%;
    margin-right: 2%;
    position: relative;
    width: 400px;
    height: 225px;
  }
  
  .content_jy { 
    width: 400px;
    height: 225px;
    border-radius: 15px;
    height: auto;
    background-color: #F6F8FF;
  }

  /*마지막*/
  .finish{
    text-align: center;
  }