.slide{
    margin: 0; padding: 0;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  .slide ul{
    margin: 0; padding: 0;
    width: 1500px;
    position: absolute;
    top:0;
    left:0;
    font-size: 0;
  }
  .slide ul li{
    display: inline-block;
  }
  #back{
    position: absolute;
    left: 0;
    cursor: pointer;
    z-index: 1;
  }
  #next{
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 1;
  }

  .left-side{
      width: 500px;
      height: 700px;
      display: block;
      padding-left: 100px;
      padding-right: 70px;
  }

  .right-side{
      width: 500px;
      height: 700px;
  }

  .image-onslide{
      width:300px;
      height:auto;
  }

  .explain{
      width: 278px;
      height: 358px;
      overflow:auto;
      margin-top: 20px;
      border: 1px solid black;
      padding: 10px;
  }

  .title-of-mention{
      height: 70px;
  }

  .mention-box{
      height: 630px;
      overflow : auto;
  }

  .mention{
      height: 100px;
      border: solid black;
      margin-bottom: 10px;
      overflow: auto;
      margin-right: 70px;
  }

  /*중간넓이*/
  
  @media screen and (min-width: 620px) {


    .left-side{
        width: 400px;
        display: block;
    }

    .right-side{
        width: 500px;
        height: 520px;
    }

    .image-onslide{
        width:300px;
        height:auto;
    }

    .explain{
        width: 278px;
        height: 358px;
        overflow:auto;
        margin-top: 20px;
        border: 1px solid black;
        padding: 10px;
    }

  }
  
  
  /*넓을때*/
  
  @media screen and (min-width: 768px) {

    .container{
        display: flex;
    }

    .left-side{
        width: 400px;
        display: block;
    }

    .right-side{
        width: 500px;
        height: 520px;
    }

    .image-onslide{
        width:300px;
        height:auto;
    }

    .explain{
        width: 278px;
        height: 358px;
        overflow:auto;
        margin-top: 20px;
        border: 1px solid black;
        padding: 10px;
    }
    
  }