.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 30px 0 30px 0;
  }  

  .list{
    width: 50%;
    float:left;
    background-color: cadetblue;
  }
  .map{
    width: 50%;
    float:left;
    background-color:cyan;
  }

  .itemBox {
    border:solid 1px black;
    width:400px;
    height:50px;
    padding:10px;
    margin-bottom:10px;
}
.itemBoxHighlight {
    border:solid 1px black;
    width:400px;
    height:50px;
    padding:10px;
    margin-bottom:10px;
    background-color:red;
}
.deleteBox {
    float:right;
    display:none;
    cursor:pointer;
}