.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 30px 0 50px 0;
  }
  
  
  .square {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 50px;
    width: 405px;
    height: 495px;
    position: relative;
    display: inline-block;
  }
  
  .content { 
    border-radius: 15px;
    padding: 25px;
    margin-top: 5px;
    height: auto;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #F6F8FF;
  }
  
  .image-on-square{
    width: 350px;
    height: 350px;
  }
  
  .heart-txt{
    padding-top: 15px; 
    width: 350px; 
    height: 90px; 
    display: table; 
    overflow: hidden;  
    display: flex;
  }
  
  .explain{
    display: table-cell;
    vertical-align:middle;
  }